@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: 'Roboto';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

a {
  color: #787878;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #6a6a6a; }

.play {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid #000;
  border-bottom: 5px solid transparent;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 5px; }

.home-wrap header {
  background: #fff;
  padding: 30px 0;
  width: 150px;
  transition: width ease 0.5s;
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .home-wrap header .logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    background-image: url(/assets/img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80px;
    padding: 0;
    margin: 0; }
  .home-wrap header .site-nav ul {
    list-style: none;
    margin: 20px 0;
    padding: 0 20px 0 0;
    text-align: right; }
    .home-wrap header .site-nav ul li {
      margin-bottom: 10px; }
      .home-wrap header .site-nav ul li:last-child {
        margin-bottom: 0; }
      .home-wrap header .site-nav ul li a {
        font-weight: 500; }
        .home-wrap header .site-nav ul li a:hover span {
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-right: 5px solid #6a6a6a;
          border-bottom: 5px solid transparent;
          display: inline-block;
          vertical-align: top;
          margin: 5px 0 0 5px; }
  .home-wrap header .open {
    display: block;
    text-align: right;
    padding-right: 20px; }

header.open-nav {
  width: 50px; }

.home-wrap {
  display: flex;
  min-height: 100vh; }
